<div class="container my-5">
  <h1 class="page-title text-center">{{ competition?.name }}</h1>
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="card border-light shadow mb-5">
        <div class="card-body py-5">
          <div class="d-flex flex-column align-items-center">
            <div class="text-center">
              <h3 class="mb-3">{{ competition?.reward | currency: "GBP":"symbol":"1.2-2" }} Prize</h3>
              <p class="text-muted mb-3">
                Story submission deadline:
                {{ competition?.deadline | date: "MMM d, y, h:mm a" }}
              </p>
              <p class="mb-5">
                You'll be charged
                <b>{{ competition?.fee | currency: "GBP":"symbol":"1.2-2" }}</b>
                entry fee
              </p>
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
