<h1 class="page-title">Competitions</h1>
<div class="row">
  <div class="col-12">
    <div *ngIf="listView; else addCompetitions">
      <button class="btn btn-primary mb-3" (click)="showForm()">Add</button>
      <div
        *ngIf="competitions?.length > 0; else noCompetitions"
        class="card-columns"
      >
        <div *ngFor="let competition of competitions" class="card mb-3">
          <img
            class="card-img-top"
            alt=""
            src="https://picsum.photos/368/160?random={{ competition?.id }}"
            style="height: 160px; width: 100%; display: block"
          />
          <div class="card-body">
            <h5 class="card-title">{{ competition?.name }}</h5>
            <p class="card-text">{{ competition?.description }}</p>
            <p class="card-text">
              <small class="text-muted">Ends {{
                competition?.deadline | date: "medium"
              }}</small>
            </p>
          </div>
        </div>
      </div>
      <ng-template #noCompetitions>
        There are no competitions yet.
      </ng-template>
    </div>
    <ng-template #addCompetitions>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label>Name</label>

          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Enter name"
            [(ngModel)]="model.name"
            #name="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
            required
          />
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">This field is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>

          <textarea
            class="form-control"
            name="description"
            rows="5"
            placeholder="Enter description"
            [(ngModel)]="model.description"
            #description="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"
            required
          ></textarea>
          <div
            *ngIf="f.submitted && description.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="description.errors.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Deadline</label>

          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="deadline"
              [(ngModel)]="model.deadline"
              #deadline="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && deadline.invalid }"
              required
              ngbDatepicker
              #deadlinePicker="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="deadlinePicker.toggle()"
                type="button"
              >
                <i-feather name="calendar"></i-feather>
              </button>
            </div>
          </div>
          <div *ngIf="f.submitted && deadline.invalid" class="invalid-feedback">
            <div *ngIf="deadline.errors.required">This field is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Fee</label>

          <input
            type="text"
            class="form-control"
            name="fee"
            placeholder="Enter fee"
            [(ngModel)]="model.fee"
            #fee="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && fee.invalid }"
            required
          />
          <div *ngIf="f.submitted && fee.invalid" class="invalid-feedback">
            <div *ngIf="fee.errors.required">This field is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Reward</label>

          <input
            type="text"
            class="form-control"
            name="reward"
            placeholder="Enter reward"
            [(ngModel)]="model.reward"
            #reward="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && reward.invalid }"
            required
          />
          <div *ngIf="f.submitted && reward.invalid" class="invalid-feedback">
            <div *ngIf="reward.errors.required">This field is required</div>
          </div>
        </div>
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-outline-primary ml-1" (click)="showList()">
          Cancel
        </button>
      </form>
    </ng-template>
  </div>
</div>
