<app-navbar></app-navbar>

<div class="container">
  <section class="competition-section">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="competition-name mb-3">
              {{ competition?.name }}
            </h2>
            <img
              loading="lazy"
              class="competition-image img-fluid"
              alt="{{ competition?.name }}"
              src="/_assets/{{ competition?.picture }}"
            />
          </div>
          <div class="col-12 mb-3">
            <div class="competition-description">
              <div [innerHtml]="competition?.description"></div>
            </div>
          </div>
        </div>
        <hr />
        <div *ngIf="stories?.length > 0; else noStories">
          <article
            *ngFor="let story of competition?.stories"
            class="clearfix pt-3 pb-5"
          >
            <header class="article-header">
              <h2 class="article-title">
                <a
                  href="#"
                  [routerLink]="['/stories', story?.slug]"
                  rel="bookmark"
                  >{{ story?.title }}</a
                >
              </h2>
              <div class="article-meta text-muted">
                <div class="row">
                  <div class="col-12 small">
                    <span class="screen-reader-text">Published on </span>
                    <time class="article-date published">{{
                      story?.created_at | date: "mediumDate"
                    }}</time>
                  </div>
                </div>
              </div>
            </header>
            <div class="article-content">
              <div class="row">
                <div class="col-12 col-md-4">
                  <img
                    loading="lazy"
                    class="article-image img-fluid"
                    alt="{{ story?.title }}"
                    src="/_assets/{{ story?.picture }}"
                    width="435"
                  />
                </div>
                <div class="col-12 col-md-8">
                  <div class="article-content-summary">
                    {{ story?.summary }}
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <ng-template #noStories> There are no stories yet. </ng-template>
      </div>
      <div class="col-lg-4 ml-auto order-first order-lg-last">
        <div class="card border-light shadow mb-5">
          <div class="card-body py-5">
            <div class="d-flex flex-column align-items-center">
              <div class="text-center">
                <h3 class="mb-3">{{ competition?.name }}</h3>
                <h4 class="mb-3">
                  {{ competition?.reward | currency: "GBP":"symbol":"1.2-2" }}
                </h4>
                <!-- <div class="progress mb-3">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div> -->
                <p class="text-muted mb-5">
                  {{ competition?.deadline | date: "MMM d, y, h:mm a" }}
                </p>

                <a
                  href="#"
                  [routerLink]="[
                    '/members/competitions/enter',
                    competition?.slug
                  ]"
                  class="btn btn-primary btn-block"
                  *ngIf="
                    !isCompetitionDisabled(competition?.id);
                    else competitionDisabled
                  "
                  >Enter now</a
                >
                <ng-template #competitionDisabled>
                  <button
                    class="btn btn-primary btn-block"
                    (click)="open(content)"
                  >
                    Submit a story
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Submit a story</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ng-template #st let-r="result" let-t="term">
          <div class="p-3">
            <img [src]="r['picture']" class="mr-1" style="width: 16px" />
            <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
          </div>
        </ng-template>
        <label for="submitStory">Select one of your stories</label>
        <input
          id="submitStory"
          class="form-control"
          placeholder="Start typing..."
          name="submitStory"
          [(ngModel)]="submitStory"
          [ngbTypeahead]="search"
          [resultTemplate]="st"
          [inputFormatter]="formatter"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          #instance="ngbTypeahead"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submit()">
      Submit
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modal.close()"
    >
      Close
    </button>
  </div>
</ng-template>
<div
  class="d-flex align-items-center flex-column justify-content-center h-100 status-screen"
  *ngIf="showStatusScreen"
  @fade
>
  <h2>Congratulations!</h2>
  <p class="lead">You have successfuly submitted your story. Good luck!</p>
  <a
    href="#"
    class="btn btn-outline-primary my-3"
    routerLink="/members/overview"
    >Continue</a
  >
</div>
