.competition-section {
  padding: 6rem 0;
  .article-title {
  }
  .article-meta {
    margin-bottom: 1rem;
  }

  .article-content {
    .article-image {
      margin-bottom: 1rem;
    }
  }
  aside {
    .card {
    }
  }
}
