<app-navbar></app-navbar>
<div class="container">
  <section class="page-section">
    <header class="section-header">
      <h1 class="section-title">Latest stories</h1>
    </header>
    <main>
      <div *ngIf="stories?.length > 0; else noStories">
        <article *ngFor="let story of stories" class="clearfix pt-3 pb-5">
          <header class="article-header">
            <h2 class="article-title">
              <a
                href="#"
                [routerLink]="['/stories', story?.slug]"
                rel="bookmark"
                >{{ story?.title }}</a
              >
            </h2>
            <div class="article-meta text-muted">
              <div class="row">
                <div class="col-12 col-md-8">
                  <span class="screen-reader-text">Published on </span>
                  <time class="article-date published">{{
                    story?.created_at | date: "mediumDate"
                  }}</time>
                  <span class="screen-reader-text">, by </span>
                  <a href="#" [routerLink]="['/profiles', story?.author?.username]">{{ story?.author?.username }}</a>
                </div>
                <div class="col-12 col-md-4">
                  <div class="text-body text-md-right mt-3 mt-md-0">
                    {{ story?.comments_count }}
                    <i-feather name="message-square" class="mr-3"></i-feather>
                    {{ story?.likes_count }}
                    <i-feather name="heart"></i-feather>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="article-content">
            <div class="row">
              <div class="col-12 col-md-4">
                <img
                  loading="lazy"
                  class="article-image img-fluid"
                  alt="{{ story?.title }}"
                  src="/_assets/{{ story?.picture }}"
                  width="435"
                />
              </div>
              <div class="col-12 col-md-8">
                <div class="article-content-summary">{{ story?.summary }}</div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <ng-template #noStories> There are no stories yet. </ng-template>
    </main>
  </section>
</div>
