<h1 class="page-title">Submit a Comment</h1>
<div class="row">
  <div class="col-lg-8">
    <form [formGroup]="commentForm" (submit)="onSubmit()">
      <div class="form-group">
        <textarea
          class="form-control"
          name="body"
          rows="5"
          placeholder="Enter your comment"
          formControlName="body"
        ></textarea>
        <div
          *ngIf="body.invalid && (body.dirty || body.touched)"
          class="text-danger my-2"
        >
          <div *ngIf="body.errors.required">This field cannot be empty.</div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="!commentForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
