<app-navbar></app-navbar>
<div class="container">
  <section class="page-section">
    <main>
      <article class="clearfix pt-3">
        <header class="article-header">
          <h2 class="article-title">
            <a
              href="#"
              [routerLink]="['/stories', story?.slug]"
              rel="bookmark"
              >{{ story?.title }}</a
            >
          </h2>
          <div class="article-meta text-muted">
            <div class="row">
              <div class="col-12 col-md-8">
                <span class="screen-reader-text">Published on </span>
                <time class="article-date published">{{
                  story?.created_at | date: "mediumDate"
                }}</time>
                <span class="screen-reader-text">, by </span>
                <a href="#">{{ story?.author?.username }}</a>
              </div>
              <div class="col-12 col-md-4">
                <div class="text-body text-md-right mt-3 mt-md-0">
                  {{ story?.comments?.length }}
                  <i-feather name="message-square" class="mr-3"></i-feather>
                  {{ story?.likes }}
                  <i-feather name="heart"></i-feather>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="article-content">
          <div class="row">
            <div class="col-12">
              <img
                loading="lazy"
                class="article-image img-fluid"
                alt="{{ story?.title }}"
                src="https://picsum.photos/435/288?random={{ story?.id }}"
                width="435"
                height="288"
              />
            </div>
            <div class="col-12">
              <div class="article-content-body">{{ story?.body }}</div>
            </div>
          </div>
        </div>
      </article>

      <hr />
      <div *ngIf="story && userService.isUserLoggedIn()">
        <app-comment-editor [story]="story"></app-comment-editor>
        <hr />
      </div>
      <div *ngIf="comments.length > 0; else noComments">
        <h3 class="mb-3">Comments({{ comments.length }})</h3>
        <article
          *ngFor="let comment of comments"
          class="clearfix bg-gray p-3 mb-3"
        >
          <header class="comment-header">
            <div class="comment-meta text-muted">
              <div class="row">
                <div class="col-12 col-md-12 mb-3">
                  <a href="#">{{ comment?.author?.username }}</a
                  ><br />
                  <time class="comment-date published">{{
                    (comment?.created_at | date: "MMM d, y, h:mm a") || "just now"
                  }}</time>
                </div>
              </div>
            </div>
          </header>
          <div class="comment-content">
            <div class="row">
              <div class="col-12 col-md-12">
                {{ comment?.body }}
              </div>
            </div>
          </div>
        </article>
      </div>
      <ng-template #noComments> There's no comments yet. </ng-template>
    </main>
  </section>
</div>
