<div class="container my-5">
  <h1 class="page-title">Submit a Story</h1>
  <div class="row no-gutters">
    <div class="col-lg-10 mb-5">
      <form name="form" [formGroup]="storyForm" (ngSubmit)="submit(storyForm)">
        <div class="form-group">
          <label>Picture</label>
          <input
            type="file"
            name="picture"
            class="form-control-file"
            formControlName="picture"
            [ngClass]="{ 'is-invalid': submitted && picture.invalid }"
            (change)="onFileChange($event, storyForm)"
          />
          <small class="form-text text-muted"
            >Choose the main picture for your story (JPG, PNG, GIF, SVG)</small
          >

          <div *ngIf="submitted && picture.invalid" class="invalid-feedback">
            <div *ngIf="picture.errors.required">Picture is required</div>
          </div>
        </div>

        <img [src]="imageSrc" *ngIf="imageSrc" class="mb-3" style="height: 100px" />
        <div class="form-group">
          <label>Title</label>
          <input
            class="form-control"
            name="title"
            placeholder="Enter a title"
            formControlName="title"
            [ngClass]="{ 'is-invalid': submitted && title.invalid }"
            required
          />
          <div *ngIf="submitted && title.invalid" class="invalid-feedback">
            <div *ngIf="title.errors.required">Title is required</div>
            <div *ngIf="title.errors.minlength">
              Title should be at least 3 characters long
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Summary</label>
          <textarea
            class="form-control"
            name="summary"
            rows="5"
            placeholder="Enter a summary"
            formControlName="summary"
            [ngClass]="{ 'is-invalid': submitted && summary.invalid }"
            required
          ></textarea>
          <div *ngIf="submitted && summary.invalid" class="invalid-feedback">
            <div *ngIf="summary.errors.required">Summary is required</div>
            <div *ngIf="summary.errors.minlength">
              Summary should be at least 3 characters long
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Story</label>
          <textarea
            class="form-control"
            name="body"
            rows="15"
            placeholder="Enter a story"
            formControlName="body"
            [ngClass]="{ 'is-invalid': submitted && body.invalid }"
            required
          ></textarea>
          <div *ngIf="submitted && body.invalid" class="invalid-feedback">
            <div *ngIf="body.errors.required">Story is required</div>
            <div *ngIf="body.errors.minlength">
              Story should be at least 3 characters long
            </div>
          </div>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
