<h1 class="page-title">Submit a Story</h1>
<div class="row no-gutters">
  <div class="col-lg-10 mb-5">
    <form>
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" name="title" [(ngModel)]="newStory.title" />
      </div>
      <div class="form-group">
        <label>Summary</label>
        <textarea
          class="form-control"
          name="summary"
          rows="5"
          [(ngModel)]="newStory.summary"
        ></textarea>
      </div>
      <div class="form-group">
        <label>Story</label>
        <textarea
          class="form-control"
          name="body"
          rows="15"
          [(ngModel)]="newStory.body"
        ></textarea>
      </div>
      <button class="btn btn-primary" (click)="saveStory()">Submit</button>
    </form>
  </div>
</div>
