router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: initial;
}

.page-section {
  padding: 5rem 0;
}

.section-header {
  margin: 1rem 0 3rem;
}

.navbar {
  text-transform: initial;
}

.bg-gray {
  background-color: #f7f7f9 !important;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-link {
  svg {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  &:focus,
  &:hover,
  &.focus {
    text-decoration: none;
    box-shadow: none;
  }
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}
