<app-navbar></app-navbar>

<div class="container">
  <div
    *ngIf="featuredPost"
    class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
  >
    <div class="col-md-6 px-0 pr-3 pr-md-5">
      <h1 class="display-4 font-normal text-white">
        {{ featuredPost?.title }}
      </h1>
      <p class="lead my-3" ellipsis>
        {{ featuredPost?.summary }}
      </p>
      <p class="lead mb-0">
        <a
          href="#"
          class="text-white font-weight-bold"
          [routerLink]="['/posts', featuredPost?.slug]"
          >Continue reading...</a
        >
      </p>
    </div>
    <div
      class="d-none d-md-block bg-layer"
      style="background-image: url(_assets/{{ featuredPost?.picture }})"
    ></div>
  </div>

  <div class="row mb-2">
    <div *ngFor="let post of posts" class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <a class="text-dark" href="#" [routerLink]="['/posts', post?.slug]">{{ post?.title }}</a>
          </h3>
          <div class="mb-1 text-muted">{{ post?.created_at | date: "mediumDate"  }}</div>
          <p class="card-text mb-auto">
            {{ featuredPost?.summary }}
          </p>
          <a href="#" [routerLink]="['/posts', post?.slug]">Continue reading</a>
        </div>
        <div
          class="card-img-right flex-auto d-none d-md-block"
          style="background-image: url(_assets/{{ post?.picture }})"
        ></div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container mb-5">
  <div class="row">
    <div *ngIf="stories?.length > 0; else noStories" class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-normal border-bottom">Latest stories</h3>

      <div *ngFor="let story of stories" class="blog-post">
        <h2 class="blog-post-title">
          <a
            href="#"
            [routerLink]="['/stories', story?.slug]"
            >{{ story?.title }}</a
          >
        </h2>
        <p class="blog-post-meta">{{ story?.created_at | date: "mediumDate"  }} by <a href="#" [routerLink]="['/profiles', story?.author?.username]">{{ story?.author?.username }}</a></p>

        <p>
          {{ story?.summary }}
        </p>
      </div>
      <!-- /.blog-post -->

      <a class="btn btn-outline-primary" href="#" routerLink="/stories"
        >See more</a
      >
    </div>
    <ng-template #noStories> There are no recent stories. </ng-template>
    <!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-normal">About</h4>
        <p class="mb-0">
          Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis
          consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla
          sed consectetur.
        </p>
      </div>

      <div class="p-3">
        <h4 class="font-normal">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->
  </div>
  <!-- /.row -->
</main>
<!-- /.container -->

<footer class="blog-footer">
  <p>Readible &copy; 2021</p>
</footer>
