.card {
  i-feather {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
  }
  .card-body {
    padding-bottom: 2.5rem;
  }
  &.bg-primary {
    .card-body {
      padding-right: 2.5rem;
    }
  }
}
